@using Ecommerce_Web.Models.ViewModels
@model List<ProductVM>
@{
    ViewData["Title"] = "Product List";
}

<div class="common-index container py-4">

    <!-- Header -->
    <div class="common-index__header">
        <h2 class="common-index__title">List of Products</h2>

        <a asp-controller="Product" asp-action="Create" class="btn btn-success">
            Add new Product
        </a>
    </div>

    <!-- Toolbar  -->
    <div class="common-index__toolbar">
        <div class="toolbar-left">
            <div class="common-search">
                <span class="search-icon">🔎</span>
                <input class="form-control" type="text" placeholder="Search a product" />
            </div>
        </div>

        <div class="toolbar-right">
            <select class="form-select toolbar-select">
                <option selected>Filter by</option>
                <option href="#">Name</option>
                <option href="#">Category</option>
                <option href="#">Day create</option>
                <option href="#">Active status</option>
            </select>

            <select class="form-select toolbar-select">
                <option selected>Sort by</option>
                <option href="#">Price low-high</option>
                <option href="#">Price high-low</option>
                <option>Newest</option>
            </select>
        </div>
    </div>

    <!-- Table card -->
    <div class="common-table-card">
        <table class="table common-table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>CreateAt</td>
                    <td>Status</td>
                    <td>Image</td>
                    <td style="width:160px; text-align:center;">Action</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.CategoryName</td>
                        <td>@product.Price</td>
                        <td>@product.CreateAt</td>
                        <td class="status-td">
                            @if (product.IsActive)
                            {
                                <span class="status-dot status-dot--active" title="Active">
                                    <i class="bi bi-check-lg"></i>
                                    Active
                                </span>
                            }
                            else
                            {
                                <span class="status-dot status-dot--inactive" title="Inactive">
                                    <i class="bi bi-x-lg"></i>
                                 Inactive
                                </span>
                            }
                        </td>

                        <td class="img-td">
                            @if (!string.IsNullOrEmpty(product.ImageUrl))
                            {
                                <div class="img-box">
                                    <img src="@product.ImageUrl" class="product-img" alt="product image" />
                                </div>
                            }
                            else
                            {
                                <span class="text-muted">Image not added</span>
                            }
                        </td>

                        <td>
                            <div class="action-btns">
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id"
                                   class="btn btn-primary btn-sm">
                                   Edit</a>

                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"
                                   class="btn btn-danger btn-sm"> 
                                   Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
